<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/city.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-TBDhQmJKIqNstbFFSQK3P05kpo4OEn3mPcLBO2bzK15XvK3yoBQoSYvJhx5+uUnz" crossorigin="anonymous">
  <title>{{title}}</title>
</head>