* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e2f9ff;
}

h1, h2 {
  color: #e2f9ff; 
  text-align: center; 
  margin-top: 50px; 
  margin-left: auto; 
  margin-right: auto; 
}
h1 {
  color: #2C3539; 
}

header {
  background-color: #2C3539; 
  padding: 20px 0;
  border-radius: 40px; 
  width: 80%; 
  margin: 20px auto 0; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
}

nav ul li a.active {
  background-color: #e2f9ff;
  color: #1f2628; 
}

.container {
  width: 80%;
  margin: 20px auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}


.card {
  flex: 1 1 300px; 
  background-color: #2c3639;
  color: #e2f9ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.card h2 {
  margin-bottom: 10px;
}

.card-link {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #f0fcff; 
}

.delete-button {
  padding: 8px 16px; 
  background-color: #28231f; 
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #39322c;
}