* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e2f9ff;
}

header {
  background-color: #2C3539;
  padding: 20px 0; 
  border-radius: 40px; 
  width: 80%; 
  margin: 20px auto 0; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px; 
}

nav ul li a.active {
  background-color: #e2f9ff;
  color: #1f2628; 
}

.container {
  width: 80%;
  margin: 20px auto; 
}

form {
  background-color: #2c3639; 
  color: #e2f9ff;
  padding: 20px; 
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.form-group {
  margin-bottom: 20px; 
}

label {
  display: block; 
  margin-bottom: 5px; 
}

input[type="text"],
textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #f0fcff; 
  border-radius: 5px; 
  background-color: #f0fcff;
}

button {
  padding: 10px 20px; 
  background-color: #28231f; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

button:hover {
  background-color: #39322c;
}

.alert {
  padding: .7rem 1rem;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: #2c3639;
  color: #f0fcff;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; 
}

.back-button {
  padding: 8px 16px; 
  background-color: #28231f; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; 
  display: inline-block;
}
.back-button:hover {
  background-color: #39322c;
}