<div class="container">
  <div class="main-menu">
    <h1><i class="fas fa-sun"></i> Weather App</h1>
    <h2>Select a city</h2>
    <ul>
      <li><a href="/weather/Kyiv">Kyiv</a></li>
      <li><a href="/weather/Lviv">Lviv</a></li>
      <li><a href="/weather/Odesa">Odesa</a></li>
      <li><a href="/weather/Cherkasy">Cherkasy</a></li>
      <li><a href="/weather/Kharkiv">Kharkiv</a></li>
      <li><a href="/weather/Dnipro">Dnipro</a></li>
      <li><a href="/weather/" class="location">My location</a></li>
    </ul>
  </div>
</div>